/* TODO Add all your css styling here */

h1 {
    font-family: 'Montserrat', sans-serif;
  }

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

body {
    background-color: lightgreen;
}

.main-container{
    color: grey;
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

#my-form{
    
    display: flex;
    flex-direction: column;
}
#value1, #value2, #value3{
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

/*reset and submit button is round corner and green color*/

#buttons-wrapper {
    /*make items on top of each other and centered*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
}

#btn-reset, #btn-submit{
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/*make form container look nicer here*/
